h2 { 
    text-align: center;
    color:rgb(234, 227, 255);
 }
 
table { 
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0; 
}

table, th, td { 
    border: 1px solid #901ffa;
    padding: 8px; 
    text-align: center;
    color:rgb(234, 227, 255);
 }

th { 
    background-image: linear-gradient(30deg, #B794F4, #901ffa);
 }